body {
  background: linear-gradient(#292929, #000000);
  color: white;
}

.players {
  padding: 10px;
}

.navbar {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15vh;
}

#filter-container > *{
  display: inline-block;
}

h1 {
  margin-top: -2%;
  margin-bottom: 2%;
}
.navbar-brand {
  font-size: 50px;
}

.animateNavbar {
  text-align: center;
  padding: 5vh;
}

.footer {
  background-color: rgba(0, 0, 0, 0.2);
}

.bi-plus-square-fill {
visibility: hidden;
margin-right: -16px;
}

button#type-dropdown:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

ul.dropdown-menu.show {
  top: 5px !important;
  padding: 10px;
}

.dropdown-item span {
margin-left: 10px;
}


