body {
  background: linear-gradient(#292929, #000000);
  color: white;
}

.navbar {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15vh;
}

#filter-container > *{
  display: inline-block;
}

h1 {
  margin-top: -2%;
  margin-bottom: 2%;
}
.navbar-brand {
  font-size: 50px;
}

.database {
  text-align: center;
  padding: 5vh;
}

.footer {
  background-color: rgba(0, 0, 0, 0.2);
}

.search {
  padding: 5vh;
}

