body {
  background: linear-gradient(#292929, #000000);
  color: white;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  padding: 10px;
  text-align: center;
}
.database-buttons {
  padding: 10px;
}
.input-group-append-search {
  padding-right: 8px;
}

.navbar {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15vh;
}

.loginPage {
  margin-right: 35vh;
  margin-left: 35vh;
  overflow: hidden;
}

.container-account {
  margin: 15px;
}

#filter-container > *{
  display: inline-block;
}

h1 {
  margin-top: -2%;
  margin-bottom: 2%;
}
.navbar-brand {
  font-size: 50px;
}

.animateRefs {
  text-align: center;
  padding: 5vh;
}

.footer {
  background-color: rgba(0, 0, 0, 0.2);
}

.bi-plus-square-fill {
visibility: hidden;
margin-right: -16px;
}

button#type-dropown:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

ul.dropdown-menu.show {
  top: 5px !important;
  padding: 10px;
}

.dropdown-item span {
margin-left: 10px;
}

.modal-backdrop {
  z-index: -1;
}
.modal::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

@media only screen 
and (max-device-width : 990px) {
  .loginPage {
    margin-right: 5vh;
    margin-left: 5vh;
  }
}