.search {
    border-radius: 20px;
    padding: 50vh;
}

button#type-dropdown:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  ul.dropdown-menu.show {
    top: 5px !important;
    padding: 10px;
  }

  .dropdown-item span {
	margin-left: 10px;
}